/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin-top:0;
  /* padding-top: 20px; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.6s

}
.modalClose{
	display:inline-block;
	float: right;
	margin-top:-25px;
}
.modalClose::after{
	clear:both;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin:75px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  max-height: 80%;
  overflow: auto;
}

#modalPopUp .modal-content{
	margin-top: 20%;
}

#modalPopUp .close{
	margin-top:-20px;
}

 .info-modal{
	 padding-top: 20%;
 }

.disclaimer{
	padding:0;
	margin:0;
}

/* The Close Button */
.close {
	margin-top:-40px;
	margin-right:-15px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pageTitle{
	padding-bottom:15px;
}

.pageTitle h2{
	margin-left: inherit;
	text-align: center;
}

#reportingForm{
	display:block;
	width:80%;
	min-width:400px;
	min-height:400px;
	margin:0 auto 10px;
}

.tab{
	display:none;
	margin:50px auto;
}

#reportingResults{
	display:none;
}
.act{
    display:none;
  }
  
#otherType{
	visibility: hidden;
}

#compTab{
	display:none;
}
.checkbox{
	margin:5px auto;
	width:48%;
	display:inline-block;
}

/* .tooltip { */
  /* position: relative; */
  /* display: inline-block; */
/* } */

/* .tooltip .tiptext { */
  /* visibility: hidden; */
  /* width: 700px; */
  /* background-color: gray; */
  /* color: black; */
  /* text-align: center; */
  /* padding: 5px 0; */

  /* Position the tooltip */
  /* position: absolute; */
  /* z-index: 1; */
  /* top: -5px; */
  /* left: 105%; */
/* } */

/* .tooltip:hover .tiptext { */
  /* visibility: visible; */
/* } */
/* .tooltip2 { */
  /* position: relative; */
  /* display: inline-block; */
/* } */

/* .tooltip2 .tiptext2 { */
  /* visibility: hidden; */
  /* width: 700px; */
  /* background-color: gray; */
  /* color: black; */
  /* text-align: center; */
  /* padding: 5px 0; */

  /* Position the tooltip2 */
  /* position: absolute; */
  /* z-index: 1; */
  /* top: -5px; */
  /* left: 105%; */
/* } */

/* .tooltip2:hover .tiptext2 { */
  /* visibility: visible; */
/* } */

.reportContainer {
  width: 75%;
  height: auto;
  min-height: 400px;
  position: relative;
  margin: auto;
  background-color:lightgray;
  border-radius:10px;
}
   
.result {
     position: relative;
     top: 325px;
   }
   
/* dl,dt,dd { */
	/* margin-left: 20%; */
/* } */

.questionmark{
	display: inline;
	width: 3%;
	height: 3%;
}

.buttonFrame{
	padding-top:15px;
	width:100%;
	text-align:center
}

button{
    background-color: #0076d0;
    border: none;
    color: white;
    padding: 5px 5px;
	margin: 10px auto;
    text-align: center;
    display: block;
    font-size: 16px;
    /* position: absolute; */
    /* top: 15%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}
.contactButton{
	background-color: #C8C8C8;
	color:black;
	display:inline-block;
	margin-left:335px;
	/* padding-left:15%; */
}

.navButton{
	display: inline-block;
	margin: 10px 9.5%;
	width: 30%;
}

.navButtons{
	display: block;
	width: 100%;
}

#userResults{
	width: 80%;
	margin: auto;
}
  
/* .reportbutton2 { */


    /* padding: 12px 25px; */
    /* text-align: center; */
    /* display: inline-block; */
    /* font-size: 12px; */
    /* position: absolute; */
    /* top: 98%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
/* } */


  
/* .reportbutton3 { */
    /* width: 210px; */


    /* padding: 5px 5px; */
    /* text-align: center; */
    /* display: inline-block; */
    /* font-size: 12px; */
    /* position: absolute; */
    /* top: 10%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
/* } */

/* .reportbutton4 { */
    /* width: 210px; */


    /* padding: 5px 5px; */
    /* text-align: center; */
    /* display: inline-block; */
    /* font-size: 12px; */
    /* position: absolute; */
    /* top: 85.5%; */
    /* left: 32.5%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
/* } */
  
/* .reportbutton5 { */
    /* width: 210px; */


    /* padding: 5px 5px; */
    /* text-align: center; */
    /* display: inline-block; */
    /* font-size: 12px; */
    /* position: absolute; */
    /* top: 85.5%; */
    /* left: 67.5%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
/* } */
/* .printbutton { */
    /* width: 210px; */


    /* padding: 12px 25px; */
    /* text-align: center; */
    /* font-size: 12px; */
    /* position: absolute; */
    /* top: 90%; */
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
/* } */

/* .contactbutton { */
  /* width: 210px; */
  /* border: none; */
  /* color: white; */
  /* padding: 12px 25px; */
  /* text-align: center; */
  /* display: inline-block; */
  /* font-size: 23px; */
  /* position: absolute; */
  /* top: 44%; */
  /* left: 55%; */
  /* -ms-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
/* } */


.modal2-header {
  padding: 4px 12px;
  background-color: #0076d0;
  color: white;
}

.modal2-body {padding: 4px 12px;}

.modal2-footer {
  padding: 4px 12px;
  background-color: #0076d0;
  color: white;
}

/* .modalActivities { */
  /* position: relative; */
  /* background-color: #fefefe; */
  /* margin: auto; */
  /* padding: 0; */
  /* border: 1px solid #888; */
  /* width: 80%; */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
  /* -webkit-animation-name: animatetop; */
  /* -webkit-animation-duration: 0.7s; */
  /* animation-name: animatetop; */
  /* animation-duration: 0.7s */
/* } */

.modalActivities2 {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.6s;
  animation-name: slideIn;
  animation-duration: 0.6s
}

.mdcontact {
  position: relative;
  background-color: #f2f2f2;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.7s;
  animation-name: animatetop;
  animation-duration: 0.7s;
  border-radius: 5px;
  }


/* .close { */
  /* color: #aaaaaa; */
  /* float: right; */
  /* font-size: 28px; */
  /* font-weight: bold; */
/* } */

/* .close:hover, */
/* .close:focus { */
  /* color: #000; */
  /* cursor: pointer; */
/* } */

.hide {
  display: none;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#0076d0;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}


/*media for print option*/

@media print {
  nav {display:none;}
  header {display:none;}
  footer {display:none;}
  button {display:none;}
  .result {display:none;}
  h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, div,body { -webkit-print-color-adjust:exact; }
}

/* @media only screen and (max-width: 700px) { */
	/* footer p{ */
		/* margin-left: 0px; */
	/* } */

	/* .reportContainer { */
		/* height: 800px; */
	   /* } */
	/* .questionmark{ */
		 /* display: inline; */
		 /* width: 7%; */
		 /* height: 7%; */
		/* } */
	/* .reportbutton { */
		 /* font-size: 8px; */
		 /* position: absolute; */
		 /* top: 8%; */
		 /* } */

	/* .reportbutton { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 16%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */
	/* .reportbutton2 { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 98%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */
	/* .reportbutton3 { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 10%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */
	/* .reportbutton4 { */
		/* font-size: 15px; */
		/* position: absolute; */
		/* padding: 5px 5px; */
		/* top: 82%; */
		/* left: 25%; */
	   /* } */
	   
	/* .reportbutton5 { */
		/* font-size: 15px; */
		/* position: absolute; */
		/* padding: 5px 5px; */
		/* top: 82%; */
		/* left: 75%; */
	   /* } */
	 
	/* .contactbutton { */
		 /* font-size: 15px; */
		 /* top: 41%; */
		 /* left: 55%; */
	   /* } */
	/* .printbutton { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 92%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */

	/* .result { */
		/* position: relative; */
		/* top: 420px; */
	/* }    */

	/* .resultmob{ */
	  /* position :relative; */
	  /* top: 45px; */
	/* } */

	/* .modal { */
		 /* padding-top: 300px; */
		 /* width: 99%; */
		 /* height: 100%; */
	   /* } */
	/* .modal2 { */
		 /* width: 99%; */
		 /* height: 100%; */
	   /* } */
	 
	/* .modal2-header { */
		 /* padding: 4px 12px; */
		 /* background-color: #0076d0; */
		 /* color: white; */
	   /* } */
	 
	/* .modal2-body {padding: 4px 12px;} */
	 
	/* .modal2-footer { */
		 /* padding: 4px 12px; */
		 /* background-color: #0076d0; */
		 /* color: white; */
	   /* } */
	 	 
	/* .modalActivities2 { */
		 /* position: fixed; */
		 /* bottom: 0; */
		 /* background-color: #fefefe; */
		 /* width: 100%; */
		 /* -webkit-animation-name: slideIn; */
		 /* -webkit-animation-duration: 0.6s; */
		 /* animation-name: slideIn; */
		 /* animation-duration: 0.6s */
	   /* } */
	 
	/* dl,dt,dd { */
		 /* margin-left: 150px; */
	   /* } */
	 
	/* .close { */
		 /* color: #aaaaaa; */
		 /* float: right; */
		 /* font-size: 28px; */
		 /* font-weight: bold; */
	   /* } */
	 
	/* .close:hover, */
	/* .close:focus { */
		 /* color: #000; */
		 /* cursor: pointer; */
	   /* } */
	 
	/* .close2 { */
		 /* color: #aaaaaa; */
		 /* float: right; */
		 /* font-size: 28px; */
		 /* font-weight: bold; */
	   /* } */
	 
	 
	/* .tooltip { */
		 /* position: relative; */
		 /* display: inline-block; */
	   /* } */
	 
	/* .tooltip .tiptext { */
		 /* visibility: hidden; */
		 /* width: 300px; */
		 /* background-color: gray; */
		 /* color: black; */
		 /* text-align: center; */
		 /* padding: 5px 0; */
	 
		 /* Position the tooltip */
		 /* position: absolute; */
		 /* z-index: 1; */
		 /* top: -5px; */
		 /* left: 85%; */
	   /* } */
	 
	/* .tooltip:hover .tiptext { */
		 /* visibility: visible; */
	   /* } */
	/* .tooltip2 { */
		 /* position: relative; */
		 /* display: inline-block; */
	/* } */
	 
	/* .tooltip2 .tiptext2 { */
		/* visibility: hidden; */
		/* width: 300px; */
		/* background-color: gray; */
		/* color: black; */
		/* text-align: center; */
		/* padding: 5px 0; */
	 
	/* Position the tooltip */
		/* position: absolute; */
		/* z-index: 1; */
		/* top: -250px; */
		/* left: 85%; */
	   /* } */
	 
	/* .tooltip2:hover .tiptext { */
		 /* visibility: visible; */
	/* } */
/* } */

/* @media only screen and (max-width: 700px) { */
	/* footer p{ */
		/* margin-left: 0px; */
	  /* } */

	/* .reportContainer { */
		/* height: 800px; */
	   /* } */
	/* .questionmark{ */
		 /* display: inline; */
		 /* width: 7%; */
		 /* height: 7%; */
		/* } */
	/* .reportbutton { */
		 /* font-size: 8px; */
		 /* position: absolute; */
		 /* top: 8%; */
		 /* } */

	/* .reportbutton { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 16%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */
	/* .reportbutton2 { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 98%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */
	/* .reportbutton3 { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 10%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */
	/* .reportbutton4 { */
		/* font-size: 15px; */
		/* position: absolute; */
		/* padding: 5px 5px; */
		/* top: 82%; */
		/* left: 25%; */
	   /* } */
	   
	/* .reportbutton5 { */
		/* font-size: 15px; */
		/* position: absolute; */
		/* padding: 5px 5px; */
		/* top: 82%; */
		/* left: 75%; */
	   /* } */
	 
	/* .contactbutton { */
		 /* font-size: 15px; */
		 /* top: 41%; */
		 /* left: 55%; */
	   /* } */
	/* .printbutton { */
		 /* font-size: 15px; */
		 /* position: absolute; */
		 /* top: 92%; */
		 /* left: 50%; */
		 /* padding: 5px 5px; */
	   /* } */

	/* .result { */
		/* position: relative; */
		/* top: 420px; */
	/* }    */

	/* .resultmob{ */
	  /* position :relative; */
	  /* top: 45px; */
	/* } */

	/* .modal { */
		 /* padding-top: 300px; */
		 /* width: 99%; */
		 /* height: 100%; */
	   /* } */
	/* .modal2 { */
		 /* width: 99%; */
		 /* height: 100%; */
	   /* } */
	 
	/* .modal2-header { */
		 /* padding: 4px 12px; */
		 /* background-color: #0076d0; */
		 /* color: white; */
	   /* } */
	 
	/* .modal2-body {padding: 4px 12px;} */
	 
	/* .modal2-footer { */
		 /* padding: 4px 12px; */
		 /* background-color: #0076d0; */
		 /* color: white; */
	   /* } */
	 
	/* .modalActivities { */
		 /* position: relative; */
		 /* background-color: #fefefe; */
		 /* margin: auto; */
		 /* padding: 0; */
		 /* border: 1px solid #888; */
		 /* width: 80%; */
		 /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
		 /* -webkit-animation-name: animatetop; */
		 /* -webkit-animation-duration: 0.7s; */
		 /* animation-name: animatetop; */
		 /* animation-duration: 0.7s */
	   /* } */
	 
	/* .modalActivities2 { */
		 /* position: fixed; */
		 /* bottom: 0; */
		 /* background-color: #fefefe; */
		 /* width: 100%; */
		 /* -webkit-animation-name: slideIn; */
		 /* -webkit-animation-duration: 0.6s; */
		 /* animation-name: slideIn; */
		 /* animation-duration: 0.6s */
	   /* } */
	 
	/* dl,dt,dd { */
		 /* margin-left: 150px; */
	   /* } */
	 
	/* .close { */
		 /* color: #aaaaaa; */
		 /* float: right; */
		 /* font-size: 28px; */
		 /* font-weight: bold; */
	   /* } */
	 
	/* .close:hover, */
	/* .close:focus { */
		 /* color: #000; */
		 /* cursor: pointer; */
	   /* } */
	 
	/* .close2 { */
		 /* color: #aaaaaa; */
		 /* float: right; */
		 /* font-size: 28px; */
		 /* font-weight: bold; */
	   /* } */
	 
	 
	/* .tooltip { */
		 /* position: relative; */
		 /* display: inline-block; */
	   /* } */
	 
	/* .tooltip .tiptext { */
		 /* visibility: hidden; */
		 /* width: 300px; */
		 /* background-color: gray; */
		 /* color: black; */
		 /* text-align: center; */
		 /* padding: 5px 0; */
	 
		 /* Position the tooltip */
		 /* position: absolute; */
		 /* z-index: 1; */
		 /* top: -5px; */
		 /* left: 85%; */
	   /* } */
	 
	/* .tooltip:hover .tiptext { */
		 /* visibility: visible; */
	   /* } */
	/* .tooltip2 { */
		 /* position: relative; */
		 /* display: inline-block; */
	/* } */
	 
	/* .tooltip2 .tiptext2 { */
		/* visibility: hidden; */
		/* width: 300px; */
		/* background-color: gray; */
		/* color: black; */
		/* text-align: center; */
		/* padding: 5px 0; */
	 
	/* Position the tooltip */
		/* position: absolute; */
		/* z-index: 1; */
		/* top: -250px; */
		/* left: 85%; */
	   /* } */
	 
	/* .tooltip2:hover .tiptext { */
		 /* visibility: visible; */
	/* }  */
/* } */

/* @media only screen and (max-width: 555px) { */
	
/* } */
