
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	margin-top:0;
	/* padding-top: 20px; */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/* overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.6s;
	animation-name: fadeIn;
	animation-duration: 0.6s
  
  }

  .modal2{
	display: none;
	position: fixed;
	z-index: 1;
	left: 19%;
	top: 19%;
	margin: auto;
  }
  
.modalClose{
	  display:inline-block;
	  float: right;
	  margin-top:-25px;
	  border-radius: 8px;
	  font-size: 20px;
  }
  .modalClose::after{
	  clear:both;
  }
  
.footmob	{
   padding-bottom:12px;
   margin-bottom:0px;
}  

footer a{
	text-decoration:none;
	color:white;
}
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 130px auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 60%; /* Could be more or less, depending on screen size */
	max-height: 80%;
	overflow: auto;
  }

#modalDisclaimer .modal-content {
	margin: 50px auto;
}
  
  #modalPopUp .modal-content{
	  margin-top: 20%;
  }
  
  #modalPopUp .close{
	  margin-top:-20px;
  }

#modalInstructions .close{
	margin-top:-40px;
}
  
   .info-modal{
	   padding-top: 20%;
   }
  
  .disclaimer{
	  padding:0;
	  margin:0;
  }
  
  /* The Close Button */
  .close {
	  margin-top:-20px;
	  margin-right:-15px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  
  .pageTitle{
	  padding-bottom:15px;
  }
  
  .reportPageTitle{
	  margin-left: inherit;
	  text-align: center;
  }
  
  #reportingForm{
	  display:block;
	  width:80%;
	  min-width:400px;
	  min-height:400px;
	  margin:0 auto 10px;
  }
  
  .tab{
	  display:none;
	  margin:50px auto;
  }
  
  #reportingResults{
	  display:none;
  }
  .act{
	  display:none;
	}
	
  #otherType{
	  visibility: hidden;
  }
  
  #compTab{
	  display:none;
  }
  .checkbox{
	  margin:5px auto;
	  width:48%;
	  display:inline-block;
  }
  
  /* .tooltip { */
	/* position: relative; */
	/* display: inline-block; */
  /* } */
  
  /* .tooltip .tiptext { */
	/* visibility: hidden; */
	/* width: 700px; */
	/* background-color: gray; */
	/* color: black; */
	/* text-align: center; */
	/* padding: 5px 0; */
  
	/* Position the tooltip */
	/* position: absolute; */
	/* z-index: 1; */
	/* top: -5px; */
	/* left: 105%; */
  /* } */
  
  /* .tooltip:hover .tiptext { */
	/* visibility: visible; */
  /* } */
  /* .tooltip2 { */
	/* position: relative; */
	/* display: inline-block; */
  /* } */
  
  /* .tooltip2 .tiptext2 { */
	/* visibility: hidden; */
	/* width: 700px; */
	/* background-color: gray; */
	/* color: black; */
	/* text-align: center; */
	/* padding: 5px 0; */
  
	/* Position the tooltip2 */
	/* position: absolute; */
	/* z-index: 1; */
	/* top: -5px; */
	/* left: 105%; */
  /* } */
  
  /* .tooltip2:hover .tiptext2 { */
	/* visibility: visible; */
  /* } */
  .reportContainer {
	width: 75%;
	height: auto;
	min-height: 85vh;
	position: relative;
	margin: auto;
	background-color:lightgray;
	border-radius:10px;
  }
	 
  .result {
	   position: relative;
	   top: 325px;
	 }

  .resultimage {
	margin-left: 15%;
  } 
  dl,dt,dd { 
	margin-left: 15%;
  } 
  
  #tab {
	padding: 0 150px;
  }

.instruction {
	padding: 1em 15% 0;
}

  .questionmark{
	  display: inline;
	  width: 3%;
	  height: 3%;
  }
  
  .buttonFrame{
	  padding-top:15px;
	  width:100%;
	  text-align:center
  }
  
button{
	background-color: #0076d0;
	border: 1px solid #000;
	border-radius:10px;
	color: white;
	padding: .5em;
	margin: 10px auto;
	text-align: center;
	display: block;
	font-size: 16px;

  }

  .reportButton{
	border-radius: 8px;
	font-size: 20px;
	padding: 15px 40px;
  }
  .instructionsButton{
	border-radius: 8px;
	font-size: 15px;
	padding: 15px 40px;
  }
  .contactButton{
	width: 200px;
	border: 1px solid #000;
	border-radius:10px;
	color: white;
	padding: 12px 25px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	top: 43%;
	left: 65%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.aboutButton {
	width: 200px;
	border: 1px solid #000;
	border-radius:10px;
	color: white;
	padding: 12px 25px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	position: absolute;
	top: 43%;
	left: 45%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
  
.navButton{
	  display: inline-block;
	  margin: 10px 9.5%;
	  width: 30%;
	  border-radius: 6px;
  }
  
  .navButtons{
	  display: block;
	  width: 100%;
  }
  
  #userResults{
	  width: 80%;
	  margin: auto;
  }
  #userResults2{
	  width: 80%;
	  margin: auto;
  }
	
  /* .reportbutton2 { */
  
  
	  /* padding: 12px 25px; */
	  /* text-align: center; */
	  /* display: inline-block; */
	  /* font-size: 12px; */
	  /* position: absolute; */
	  /* top: 98%; */
	  /* left: 50%; */
	  /* -ms-transform: translate(-50%, -50%); */
	  /* transform: translate(-50%, -50%); */
  /* } */
  
  
	
  /* .reportbutton3 { */
	  /* width: 210px; */
  
  
	  /* padding: 5px 5px; */
	  /* text-align: center; */
	  /* display: inline-block; */
	  /* font-size: 12px; */
	  /* position: absolute; */
	  /* top: 10%; */
	  /* left: 50%; */
	  /* -ms-transform: translate(-50%, -50%); */
	  /* transform: translate(-50%, -50%); */
  /* } */
  
  /* .reportbutton4 { */
	  /* width: 210px; */
  
  
	  /* padding: 5px 5px; */
	  /* text-align: center; */
	  /* display: inline-block; */
	  /* font-size: 12px; */
	  /* position: absolute; */
	  /* top: 85.5%; */
	  /* left: 32.5%; */
	  /* -ms-transform: translate(-50%, -50%); */
	  /* transform: translate(-50%, -50%); */
  /* } */
	
  /* .reportbutton5 { */
	  /* width: 210px; */
  
  
	  /* padding: 5px 5px; */
	  /* text-align: center; */
	  /* display: inline-block; */
	  /* font-size: 12px; */
	  /* position: absolute; */
	  /* top: 85.5%; */
	  /* left: 67.5%; */
	  /* -ms-transform: translate(-50%, -50%); */
	  /* transform: translate(-50%, -50%); */
  /* } */
  /* .printbutton { */
	  /* width: 210px; */
  
  
	  /* padding: 12px 25px; */
	  /* text-align: center; */
	  /* font-size: 12px; */
	  /* position: absolute; */
	  /* top: 90%; */
	  /* left: 50%; */
	  /* -ms-transform: translate(-50%, -50%); */
	  /* transform: translate(-50%, -50%); */
  /* } */
  
  /* .contactbutton { */
	/* width: 210px; */
	/* border: none; */
	/* color: white; */
	/* padding: 12px 25px; */
	/* text-align: center; */
	/* display: inline-block; */
	/* font-size: 23px; */
	/* position: absolute; */
	/* top: 44%; */
	/* left: 55%; */
	/* -ms-transform: translate(-50%, -50%); */
	/* transform: translate(-50%, -50%); */
  /* } */
  
  
  .modal2-header {
	padding: 4px 12px;
	background-color: #0076d0;
	color: white;
  }
  
  .modal2-body {padding: 4px 12px;}
  
  .modal2-footer {
	padding: 4px 12px;
	background-color: #0076d0;
	color: white;
  }
  
  /* .modalActivities { */
	/* position: relative; */
	/* background-color: #fefefe; */
	/* margin: auto; */
	/* padding: 0; */
	/* border: 1px solid #888; */
	/* width: 80%; */
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
	/* -webkit-animation-name: animatetop; */
	/* -webkit-animation-duration: 0.7s; */
	/* animation-name: animatetop; */
	/* animation-duration: 0.7s */
  /* } */
  
  .modalActivities2 {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.6s;
	animation-name: slideIn;
	animation-duration: 0.6s
  }
  
  .mdcontact {
	position: relative;
	background-color: #f2f2f2;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.7s;
	animation-name: animatetop;
	animation-duration: 0.7s;
	border-radius: 5px;
	}
  
 
  /* .close { */
	/* color: #aaaaaa; */
	/* float: right; */
	/* font-size: 28px; */
	/* font-weight: bold; */
  /* } */
  
  /* .close:hover, */
  /* .close:focus { */
	/* color: #000; */
	/* cursor: pointer; */
  /* } */
  
  .hide {
	display: none;
  }
  
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #0076d0;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color:white;
	color: #0076d0;
  }
  
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  @-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
  }
  
  @keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
  }
  
  
  /*media for print option*/
  
  @media print {
	nav {display:none;}
	header {display:none;}
	footer {display:none;}
	button {display:none !important;}
	.result {display:none;}
	img {display:none;}
	p {display:none;}
	h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, blockquote, form, fieldset, legend, div,body { -webkit-print-color-adjust:exact; }
  }
@media only screen and (max-width: 1024px) {
.modal-content {
   background-color: #fefefe;
   margin: 90px 18% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 60%; /* Could be more or less, depending on screen size */
   max-height: 80%;
   overflow: auto;
}
.navButton {
   margin: 10px 9.5%; 
}
p{
   font-size: 15px; 
}
h2{
   font-size: 23px;	
}
h3{
   font-size: 15px;
}
.mobile1 {
   font-size: 15px;
   margin: auto; 
}
.modal2-header {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.modal2-body {
   width: 98%; 
   padding: 4px 12px;
}
.modal2-footer {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.close {
   margin-top: -10px;
   margin-right: 0px;
}
input[type=text].mobile2 {
	width: 80%;
}
input[type=text], select, textarea {
   width: 99%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
.checkbox {
   font-size: 1px;
   width: 49%;
}
.contactButton{
   width: 120px;
   font-size: 12px; 
   top: 35%;
   left: 54%;
}
.footmob	{
   margin: 15px auto;
}
}  

@media only screen and (max-width: 768px) {
.modal-content {
   background-color: #fefefe;
   margin: 90px 17% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 60%; /* Could be more or less, depending on screen size */
   max-height: 80%;
   overflow: auto;
}
.navButton {
   margin: 10px 9.5%; 
}
#tab{
	padding: 0 30px;
}
.reportButton{
	border-radius: 8px;
	font-size: 17px;
	padding: 7px 20px;
}
p{
   font-size: 15px; 
}
h2{
   font-size: 23px;	
}
h3{
   font-size: 15px;
}
.mobile1 {
   font-size: 15px;
   margin: auto; 
}
.modal2-header {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.modal2-body {
   width: 98%; 
   padding: 4px 12px;
}
.modal2-footer {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.close {
   margin-top: -10px;
   margin-right: 0px;
}
input[type=text].mobile2 {
	width: 80%;
}
input[type=text], select, textarea {
   width: 99%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
.checkbox {
   font-size: 1px;
   width: 49%;
}
.contactButton{
   width: 120px;
   font-size: 12px; 
   top: 35%;
   left: 54%;
}
.footmob	{
   margin: 15px auto;
}
}

@media only screen and (max-width: 540px) {
.modal-content {
   background-color: #fefefe;
   margin: 90px 17% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 60%; /* Could be more or less, depending on screen size */
   max-height: 80%;
   overflow: auto;
}
.navButton {
   margin: 10px 9.5%; 
}
.modalClose{
	margin-top: 10px;
}
#tab{
	padding: 0 30px;
}
.reportButton{
	border-radius: 8px;
	font-size: 15px;
	padding: 7px 20px;
}
p{
   font-size: 15px; 
}
h2{
   font-size: 23px;	
}
h3{
   font-size: 15px;
}
.resultimage{
	width: 75%;
	height: 75%;
}
.mobile1 {
   font-size: 15px;
   margin: auto; 
}
.modal2-header {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.modal2-body {
   width: 98%; 
   padding: 4px 12px;
}
.modal2-footer {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.close {
   margin-top: -10px;
   margin-right: 0px;
}
input[type=text].mobile2 {
	width: 80%;
}
input[type=text], select, textarea {
   width: 99%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
.checkbox {
   font-size: 1px;
   width: 49%;
}
.instructionsButton{
	border-radius: 8px;
    font-size: 14px;
    padding: 7px 20px;
}
.contactButton{
   width: 120px;
   font-size: 12px; 
   top: 35%;
   left: 54%;
}
.footmob	{
   margin: 15px auto;
}
}

@media only screen and (max-width: 414px) {
.modal-content {
   background-color: #fefefe;
   margin: 110px 16% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
   max-height: 80%;
   overflow: auto;
}
.navButton {
   margin: 10px 4.25%; 
   font-size: 14px;
}
p{
   font-size: 15px; 
}
h2{
   font-size: 23px;	
}
h3{
   font-size: 15px;
}
#tab {
   padding: 0 30px;
}
.reportButton{
   border-radius: 8px;
   font-size: 13px;
   padding: 7px 20px;
}
.instructionsButton{
	border-radius: 8px;
    font-size: 10px;
    padding: 7px 20px;
}
.modalClose{
	font-size: 14px;
}
.resultimage{
	width: 75%;
	height: 75%;
}
.mobile1 {
   font-size: 15px;
   margin: auto; 
   padding-right: 30%;
}
.modal2-header {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.modal2-body {
   width: 98%; 
   padding: 4px 12px;
}
.modal2-footer {
   width: 98%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.close {
   margin-top: -10px;
   margin-right: 0px;
}
input[type=text].mobile2 {
	width: 50%;
}
input[type=text], select, textarea {
   width: 77%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
 }
.checkbox {
   font-size: 1px;
   width: 37.3%;
}
.contactButton{
   width: 120px;
   font-size: 12px; 
   top: 35%;
   left: 64%;
}
.footmob	{
   margin: 15px auto;
}
dt,dd,dl {
	font-size: 10px;
}
}

@media only screen and (max-width: 375px) {
 .modal-content {
	background-color: #fefefe;
	margin: 110px 12% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
	max-height: 80%;
	overflow: auto;
}
 .navButton {
	margin: 10px 2.25%; 
	font-size: 13px;
 }
 .modalClose {
	font-size: 12px;
 }
 .reportButton {
	border-radius: 8px;
	font-size: 13px;
	padding: 7px 20px;
 }
 #tab{
	padding: 0 30px;
 }
 p{
	font-size: 15px; 
 }
 h2{
	font-size: 20px; 
 }
 h3{
	font-size: 15px;
 }
 .resultimage{
	width: 75%;
	height: 75%;
}
 .mobile1 {
	font-size: 15px;
	margin: auto; 
	padding-right: 30%;
 }
 .modal2-header {
	width: 95%;
	padding: 4px 12px;
	background-color: #0076d0;
	color: white;
 }
 .modal2-body {
	width: 95%; 
	padding: 4px 12px;
 }
 .modal2-footer {
	width: 95%;
	padding: 4px 12px;
	background-color: #0076d0;
	color: white;
 }
 .close {
	margin-top: -10px;
	margin-right: 0px;
 }
 input[type=text].mobile2 {
	 width: 50%;
 }
 input[type=text], select, textarea {
	width: 70%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
 .checkbox {
	font-size: 1px;
	width: 37.3%;
 }
 .contactButton{
	width: 120px;
	font-size: 12px; 
	top: 35%;
	left: 64%;
 }
 .footmob	{
	margin: 15px auto;
}
dt,dd,dl {
	font-size: 10px;
}
}	  

@media only screen and (max-width: 360px) {
.modal-content {
   background-color: #fefefe;
   margin: 110px 10.5% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
   max-height: 80%;
   overflow: auto;
}
.navButton {
   margin: 10px 1.5%; 
   font-size: 12px;
}
.modalClose{
   font-size: 12px;
}
p{
	font-size: 15px; 
}
h2{
	font-size: 20px;
}
h3{
	font-size: 15px;
}
.resultimage{
	width: 75%;
	height: 75%;
}
#tab {
	padding: 0 30px;
  }
.mobile1 {
   font-size: 15px;
   margin: auto; 
   padding-right: 35%;
}
.modal2-header {
   width: 95%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.modal2-body {
   width: 95%; 
   padding: 4px 12px;
}
.modal2-footer {
   width: 95%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.close {
   margin-top: -10px;
   margin-right: 0px;
}
input[type=text].mobile2 {
	width: 50%;
}
input[type=text], select, textarea {
   width: 60%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
.checkbox {
   font-size: 1px;
   width: 32.3%;
}
.reportButton {
	border-radius: 8px;
	font-size: 13px;
	padding: 7px 20px;
}
.instructionsButton{
	border-radius: 8px;
    font-size: 10px;
    padding: 7px 20px;
}
.contactButton{
   width: 120px;
   font-size: 12px; 
   top: 35%;
   left: 64%;
}
.footmob{
   margin: 15px auto;
}
dt,dd,dl {
	font-size: 10px;
}
}

@media only screen and (max-width: 320px) {
.modal-content {
   background-color: #fefefe;
   margin: 130px 6.5% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
   max-height: 80%;
   overflow: auto;
}
button {
   font-size: 10px;
}
.navButton {
   width: 50px;
   font-size: 10px;
   margin: 10px 9%; 
}
p{
	font-size: 15px; 
}
h3{
	font-size: 15px;
}
.resultimage{
	width: 75%;
	height: 75%;
}
.mobile1 {
   font-size: 15px;
   margin: auto; 
   padding-right: 40%;
}
.modal2-header {
   width: 92.5%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.modal2-body {
   width: 92.5%; 
   padding: 4px 12px;
}
.modal2-footer {
   width: 92.5%;
   padding: 4px 12px;
   background-color: #0076d0;
   color: white;
}
.close {
   margin-top: -10px;
   margin-right: 0px;
}
input[type=text].mobile2 {
	width: 40%;
}
input[type=text], select, textarea {
   width: 50%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
.checkbox {
   font-size: 1px;
   width: 50%;
}
.contactButton{
   width: 120px;
   font-size: 12px; 
   top: 35%;
   left: 64%;
}
.footmob{
   margin: 15px auto;
}
dt,dd,dl {
 font-size: 10px;
}
}

@media only screen and (max-width: 280px) {
	.modal-content {
	   background-color: #fefefe;
	   margin: 100px 4.5% auto; /* 15% from the top and centered */
	   padding: 20px;
	   border: 1px solid #888;
	   width: 45%; /* Could be more or less, depending on screen size */
	   max-height: 80%;
	   overflow: auto;
	}
	button {
	   font-size: 10px;
	}
	.navButton {
	   width: 50px;
	   font-size: 10px;
	   margin: 10px 6.5%; 
	}
	.modalClose{
		margin-top: 10px;
	}
	.reportButton{
		border-radius: 8px;
		font-size: 8px;
		padding: 7px 20px;
	}
	p{
		font-size: 12px; 
	}
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 15px;
	}
	.resultimage{
		width: 75%;
		height: 75%;
	}
	.mobile1 {
	   font-size: 15px;
	   margin: auto;
	   padding-right: 45%; 
	}
	.modal2-header {
	   width: 92.5%;
	   padding: 4px 12px;
	   background-color: #0076d0;
	   color: white;
	}
	.modal2-body {
	   width: 92.5%; 
	   padding: 4px 12px;
	}
	.modal2-footer {
	   width: 92.5%;
	   padding: 4px 12px;
	   background-color: #0076d0;
	   color: white;
	}
	.close {
	   margin-top: -10px;
	   margin-right: 0px;
	}
	input[type=text].mobile2 {
		width: 30%;
	}
	input[type=text], select, textarea {
	   width: 43%;
	   padding: 12px;
	   border: 1px solid #ccc;
	   border-radius: 4px;
	   box-sizing: border-box;
	   margin-top: 6px;
	   margin-bottom: 16px;
	   resize: vertical;
	   display: block;
	}
	.checkbox {
	   font-size: 1px;
	   width: 50%;
	}
	.contactButton{
	   width: 120px;
	   font-size: 12px; 
	   top: 35%;
	   left: 64%;
	}
	.footmob{
	   margin: 15px auto;
	}
	dt,dd,dl {
	 font-size: 10px;
	}
	}
