/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin-top:0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalClose{
	display:inline-block;
	float:right;
	margin-top:-25px;
}
.modalClose::after{
	clear:both;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin:75px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.disclaimer{
	padding:0;
	margin:0;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pageTitle{
	padding-bottom:15px;
}

.pageTitle h2{
	margin-left: inherit;
	text-align: center;
}

#reportingForm{
	display:block;
	width:80%;
	min-width:400px;
	min-height:400px;
	margin:0 auto 10px;
}

.tab{
	display:none;
	margin:50px auto;
}

#reportingResults{
	display:none;
}