

/* hide disclaimer by default=============================*/
.disclaimer{
	display: none;
}

/*Title Fonts=============================================*/
title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

 /*Header=================================================*/
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
  margin: auto;
  text-align:center;
}

main{
  background-color: #C8C8C8;
  color: black;

}

.pageTitle{
	padding-top: 50px;
	padding-bottom: 50px;
}
/*Typical Paragraph Body==================================*/
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: inherit;
  padding-left: 15%;
  padding-right: 15%;
}

/*Nav=====================================================*/
nav {
<<<<<<< HEAD
  color: white;
  background-color: #0087D0;
  text-align: center;
=======
	color: white;
	background: rgba(0, 135, 208, 0.9);
	height: 50px;
	padding-left: 15%;
	height:50px;
	position:sticky;
	top:0;
	z-index: 1;
>>>>>>> master
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:10px;
	height:50px;
	display: inline-block;
}

.active{
	background-color: #0076d0;	
	height:80%;
}

.nav a:hover{
	background-color: #0076d0;
	height:80%;
	text-shadow: 2px 2px #333333;
}

/*aside nav===============================================*/
aside{
	overflow:visible;
	float: left;
	width:12%;
	position:fixed;
	top:50px;
}

.sideNav{
	float: left;
	height:565px;
	width: 100%;
	margin:0px;
	padding:0px;
	padding-top: 50px;
	border-radius: 0px 0px 30px 0px;
	background-color: #006399;
}

.sideNav a{
	margin:auto;
	text-align:center;
	padding-left: 0px;
	padding-right:0px;
	width:100%;
}

.sideNav a:hover{
	margin:auto;
	text-align:center;
	padding-left: 0px;
	padding-right:0px;
	width:100%;
	background-color: #0087d0;
}

/*SLider===========================================*/

.moduleSlide {
	display: none;
	}
	
.moduleSlide:first-child {
    display: block;
}

.moduleSlide p{
	margin: 0px;
}

.slideshowContainer {
  width: 75%;
  height: 500px;
  position: relative;
  margin: auto;
  background-color:lightgray;
  border-radius:10px;
}

.homeSlideshowContainer{
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

/* Number text (1/8 etc) */
.numberText {
  color: #000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 44%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotActive, .dot:hover {
  background-color: #717171;
}

.asideActive{
	background-color: #006399;
}

.asideActive2{
	background-color: #0076d0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*footer==================================================*/
footer{
	height:75px;
	position:sticky;
	bottom: -75px;
	left:0;
}

.spacer{
	height:350px;
}





























