

/* hide disclaimer by default=============================*/
.disclaimer{
	display: none;
}

/*Title Fonts=============================================*/
title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

 /*Header=================================================*/
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
  margin: auto;
  text-align:center;
}

main{
  background-color: #C8C8C8;
  color: black;

}

.pageTitle{
	padding-top: 50px;
	padding-bottom: 50px;
}
/*Typical Paragraph Body==================================*/

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: inherit;
  padding-left: 15%;
  padding-right: 15%;
}

/*styles for report-activities*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tiptext {
  visibility: hidden;
  width: 700px;
  background-color: gray;
  color: black;
  text-align: center;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tiptext {
  visibility: visible;
}

.hide {
  display: none;
}

.reportContainer {
  width: 75%;
  height: auto;
  min-height: 800px;
  position: relative;
  margin: auto;
  background-color:lightgray;
  border-radius:10px;
}
.reportbutton {
  background-color: #0076d0;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 11%;
  left: 22.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.reportbutton2 {
  background-color: #0076d0;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 98%;
  left: 23%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reportbutton3 {
  background-color: #0076d0;
  width: 210px;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 5%;
  left: 22.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.6s
}

.modal2-header {
  padding: 4px 12px;
  background-color: #0076d0;
  color: white;
}

.modal2-body {padding: 4px 12px;}

.modal2-footer {
  padding: 4px 12px;
  background-color: #0076d0;
  color: white;
}

.modalActivities {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.7s;
  animation-name: animatetop;
  animation-duration: 0.7s
}

.modalActivities2 {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.6s;
  animation-name: slideIn;
  animation-duration: 0.6s
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
}

.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}



/*Nav=====================================================*/
nav {
<<<<<<< HEAD
  color: white;
  background-color: #0087D0;
  text-align: center;
=======
	color: white;
	background: rgba(0, 135, 208, 0.9);
	padding-left: 15%;
	height:50px;
	position:sticky;
	top:0;
	z-index: 1;
>>>>>>> master
}

nav a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:10px;
	height:50px;
	display: inline-block;
}

.active{
	background-color: #0076d0;
	height:80%;
}

.nav a:hover{
	background-color: #0076d0;
	height:80%;
	text-shadow: 2px 2px #333333;
}

/*aside nav===============================================*/
aside{
	overflow:visible;
	float: left;
	width:12%;
	position:fixed;
	top:50px;
}

.sideNav{
	float: left;
	height:565px;
	width: 100%;
	margin:0px;
	padding:0px;
	padding-top: 50px;
	border-radius: 0px 0px 30px 0px;
	background-color: #006399;
}

.sideNav a{
	margin:auto;
	text-align:center;
	padding-left: 0px;
	padding-right:0px;
	width:100%;
}

.sideNav a:hover{
	margin:auto;
	text-align:center;
	padding-left: 0px;
	padding-right:0px;
	width:100%;
	background-color: #0087d0;
}

/*SLider===========================================*/

.moduleSlide {
	display: none;
	}

.moduleSlide:first-child {
    display: block;
}

.moduleSlide p{
	margin: 0px;
}

.slideshowContainer {
  width: 75%;
  min-height: 650px;
  position: relative;
  margin: auto;
  background-color:lightgray;
  border-radius:10px;
}

.homeSlideshowContainer{
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 325px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 15px 15px 0;
  user-select: none;
  background-color: #C8C8C8;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 15px 0 0 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

/* Number text (1/8 etc) */
.numberText {
  color: #000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 44%;
}

.slideshowtext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
	left: 50px;
  bottom: 225px;
  width: 100%;
  text-align: left;
}

.bodytext{
	text-align: center;
	margin: auto;
	padding: inherit;
}

/*Card Flip For Modules*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flipcardholder{
	margin: auto;
	width: auto;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
	margin: auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


/*POP UP STUFF!*/

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
	text-align: center;
	font-weight: bold;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 350%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
	overflow: auto;
	height: 250px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotActive, .dot:hover {
  background-color: #717171;
}

.asideActive{
	background-color: #006399;
}

.asideActive2{
	background-color: #0076d0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

video{
	width: 55%;
	margin:auto;
	margin-top: 20px;
	padding-bottom: 50px;
	text-align:center;
	display:block;
}

audio{
	display:block;
	float:clear;
	width: 55%;
	padding-top: 15px;
	margin:auto;
}

.homeQuestion{
	position:absolute;
	top: 45%;
	left: 20%;
	color:white;
	font-size: 50px;
}

.homeQuestionInfo{
	position:absolute;
	top: 55%;
	left: 20%;
	color:white;
	font-size: 30px;
}

.goThereButton{
	position:absolute;
	top: 80%;
	left: 20%;
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	margin: 0px;
	color:white;
	font-size: 14px;
	border-style:solid;
	border-color: black;
	border-width: 1px;
	cursor: pointer;
	text-decoration:none;
}

.goThereButton:hover{
	background: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 900px) {
	.homeQuestion{
		font-size: 40px;
		text-align: center;
		width: 75%;
		top: 100px;
		left: 15%;

	}

	.homeQuestionInfo{
		font-size: 20px;
		text-align: center;
		width: 75%;
		top: 175px;
		left: 15%;
	}

	.homeSlideshowContainer{
		height: 350px;
	}

	.moduleSlide img{
		height: 350px !important;
	}
}
@media only screen and (max-width: 650px) {
	nav a{
		font-size:20px;
	}

	nav {
		height:40px;
	}

	.active{
		height:75%;
	}

	.nav a:hover{
		height:75%;
	}

	.homeQuestion{
		font-size: 30px;
		text-align: center;
		width: 75%;
		top: 50px;
		left: 15%;

	}

	.homeQuestionInfo{
		font-size: 15px;
		text-align: center;
		width: 75%;
		top: 175px;
		left: 15%;
	}


}

@media only screen and (max-width: 400px) {
	nav a{
		font-size:15px;
	}
}


/*footer==================================================*/
footer{
	height:75px;
	position:sticky;
	bottom: -75px;
	left:0;
	text-align: center;
}

.spacer{
	height:350px;
}
